@{
    ViewData["Title"] = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Hoşgeldiniz</h2>
            </header>
            <div class="card-body">
                <p></p>

                <div class="alert alert-info">
                    KDemia Yönetim Paneline hoşgeldiniz. Sol menüden işlemleri yapabilirsiniz.
                </div>
            </div>
        </section>
    </div>
</div>